.descriere {
    font-style: italic;
}
button[data-toggle="modal"] {
    float: right;
    margin-top: 20px;
}
.title h1 {
	float: left;
}
a.btn.btn-default {
    width: 100%;
    margin-bottom: 10px;
}
body {
    background-image: url(http://localhost/sgbd/images/sql.jpg) !important;
    background-size: cover;
}
footer{
    height: 100px;
    position: relative;
}
footer p {
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    width: 80%;
    margin: 0 auto;
    text-align: center;
}
/*
div.panel-heading {
    font-style: bold;
}*/

form#adauga_coloana, form#sterge_coloana {
    display: inline-block !important;
    margin-top: 20px;
}